/* MOBILE FIRST */
html {
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 2%;
}

p {
  padding: 2%;
}

.wrapper {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;
  grid-template-areas:
    "header"
    "articles"
    "aside"
    "footer";
}

header {
  grid-area: header;
  margin-bottom: -5px;
}

header > .title-container {
  background: #434343;
  text-align: center;
  padding: 20px;
}

.article-section {
  background: #434343;
  grid-area: articles;
}

article {
  margin: 3%;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.responsive-image {
  width: 100%;
}

header > picture > .responsive-image,
aside > picture > .responsive-image {
  max-width: 640px;
}

article > picture > .responsive-image {
  max-width: 540px;
  border: 10px solid #707070;
}

aside {
  background: #707070;
}

aside > article > h1 {
  position: relative;
  top: -80px;
  margin-bottom: -40px;
}

aside > article > p:nth-of-type(2) {
  font-weight: bold;
}

aside > article > p:nth-of-type(3) {
  font-style: italic;
}

footer {
  background: #434343;
}

footer > h3 {
  padding: 20px;
}

/* DESKTOP */
@media screen and (min-width: 640px) {
  header > picture > .responsive-image {
    max-width: 100vw;
  }

  header > .title-container {
    background: none;
    position: absolute;
    top: 4%;
    width: 100%;
  }

  header > .title-container > h2 {
    color: #4d6128;
    font-size: 3rem;
  }

  header > .title-container > p {
    color: #213800;
    font-weight: bold;
  }

  .article-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0 3%;
  }

  .article-section > article {
    flex: 0 0 30%;
  }

  aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
  }

  aside > picture {
    flex: 0 0 46%;
  }

  aside > picture > .responsive-image {
    border: 10px solid #434343;
    border-radius: 50%;
    max-height: 350px;
    max-width: 350px;
  }

  aside > article {
    flex: 0 0 46%;
    text-align: left;
  }

  aside > article > h1 {
    top: 0px;
    margin-bottom: 0px;
    padding: 2%;
  }
}
